<h1>Logged in as {{profile.display_name}}</h1>
<div class="media">
  <div class="pull-left">
    <img class="media-object" width="150" src="{{profile.images.0.url}}" />
  </div>
  <div class="media-body">
    <dl class="dl-horizontal">
      <dt>Display name</dt><dd class="clearfix">{{profile.display_name}}</dd>
      <dt>Id</dt><dd>{{profile.id}}</dd>
      <dt>Email</dt><dd>{{profile.email}}</dd>
      <dt>Spotify URI</dt><dd><a href="{{profile.external_urls.spotify}}">{{profile.external_urls.spotify}}</a></dd>
      <dt>Link</dt><dd><a href="{{profile.href}}">{{profile.href}}</a></dd>
      <dt>Profile Image</dt><dd class="clearfix"><a href="{{profile.images.0.url}}">{{profile.images.0.url}}</a></dd>
      <dt>Country</dt><dd>{{profile.country}}</dd>
    </dl>
  </div>
  <div class="playlist-body" id="playlist-bod">
    <ul id="tracks" class="list-group">
    {{#playlists.items}}
      <li class="dl-horizontal list-group-item">
        <dl class="dl-horizontal">
          <a href="/playlists?uri={{uri}}">
            <dt class="playlist_uri" id="{{id}}">Name</dt><dd>{{name}}</a></dd>
            <dt class="playlist_uri" id="{{id}}">URI</dt><dd>{{uri}}</dd>
          </a>
        </dl>
      </li>
    {{/playlists.items}}
  </div>
</div>